@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
}

.message.assistant strong {
  font-weight: bold;
}

.message.assistant em {
  font-style: italic;
}

.message.assistant ul,
.message.assistant ol {
  margin-left: 20px;
}
